/* タイトル＋アイコン */

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* タイトル＋曲数 */

.profile-text {
  text-align: center;
}

.profile-text h1 {
  margin: 0;
}

.profile-text #song-count {
  margin: 5px 0 0;
  text-align: center;
}


/* アイコン */

.profile-icon {
  flex-shrink: 0;

  width: 50px;
  height: 50px;

  object-fit: cover;

  border-radius: 50%;

  border: 2px solid #ffffff;

  box-shadow:
    0 3px 12px
    rgba(212, 94, 137, 0.20);
}
